@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: "FONTSPRING DEMO - Ondo";
  src: url("/fonts/OndoFontCompressed/FONTSPRINGDEMO-OndoBoldItalic.woff2")
      format("woff2"),
    url("/fonts/OndoFontCompressed/FONTSPRINGDEMO-OndoBoldItalic.woff")
      format("woff"),
    url("/fonts/OndoFontCompressed/FONTSPRINGDEMO-OndoBoldItalic.ttf")
      format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "FONTSPRING DEMO - Ondo";
  src: url("/fonts/OndoFontCompressed/FONTSPRINGDEMO-OndoExtraLightItalic.woff2")
      format("woff2"),
    url("/fonts/OndoFontCompressed/FONTSPRINGDEMO-OndoExtraLightItalic.woff")
      format("woff"),
    url("/fonts/OndoFontCompressed/FONTSPRINGDEMO-OndoExtraLightItalic.ttf")
      format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "FONTSPRING DEMO - Ondo";
  src: url("/fonts/OndoFontCompressed/FONTSPRINGDEMO-OndoItalic.woff2")
      format("woff2"),
    url("/fonts/OndoFontCompressed/FONTSPRINGDEMO-OndoItalic.woff")
      format("woff"),
    url("/fonts/OndoFontCompressed/FONTSPRINGDEMO-OndoItalic.ttf")
      format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "FONTSPRING DEMO - Ondo";
  src: url("/fonts/OndoFontCompressed/FONTSPRINGDEMO-OndoExtraLightRegular.woff2")
      format("woff2"),
    url("/fonts/OndoFontCompressed/FONTSPRINGDEMO-OndoExtraLightRegular.woff")
      format("woff"),
    url("/fonts/OndoFontCompressed/FONTSPRINGDEMO-OndoExtraLightRegular.ttf")
      format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FONTSPRING DEMO - Ondo";
  src: url("/fonts/OndoFontCompressed/FONTSPRINGDEMO-OndoLightItalic.woff2")
      format("woff2"),
    url("/fonts/OndoFontCompressed/FONTSPRINGDEMO-OndoLightItalic.woff")
      format("woff"),
    url("/fonts/OndoFontCompressed/FONTSPRINGDEMO-OndoLightItalic.ttf")
      format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "FONTSPRING DEMO - Ondo";
  src: url("/fonts/OndoFontCompressed/FONTSPRINGDEMO-OndoBoldRegular.woff2")
      format("woff2"),
    url("/fonts/OndoFontCompressed/FONTSPRINGDEMO-OndoBoldRegular.woff")
      format("woff"),
    url("/fonts/OndoFontCompressed/FONTSPRINGDEMO-OndoBoldRegular.ttf")
      format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FONTSPRING DEMO - Ondo";
  src: url("/fonts/OndoFontCompressed/FONTSPRINGDEMO-OndoLightRegular.woff2")
      format("woff2"),
    url("/fonts/OndoFontCompressed/FONTSPRINGDEMO-OndoLightRegular.woff")
      format("woff"),
    url("/fonts/OndoFontCompressed/FONTSPRINGDEMO-OndoLightRegular.ttf")
      format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FONTSPRING DEMO - Ondo";
  src: url("/fonts/OndoFontCompressed/FONTSPRINGDEMO-OndoRegular.woff2")
      format("woff2"),
    url("/fonts/OndoFontCompressed/FONTSPRINGDEMO-OndoRegular.woff")
      format("woff"),
    url("/fonts/OndoFontCompressed/FONTSPRINGDEMO-OndoRegular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FONTSPRING DEMO - Ondo";
  src: url("/fonts/OndoFontCompressed/FONTSPRINGDEMO-OndoMediumItalic.woff2")
      format("woff2"),
    url("/fonts/OndoFontCompressed/FONTSPRINGDEMO-OndoMediumItalic.woff")
      format("woff"),
    url("/fonts/OndoFontCompressed/FONTSPRINGDEMO-OndoMediumItalic.ttf")
      format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "FONTSPRING DEMO - Ondo";
  src: url("/fonts/OndoFontCompressed/FONTSPRINGDEMO-OndoMediumRegular.woff2")
      format("woff2"),
    url("/fonts/OndoFontCompressed/FONTSPRINGDEMO-OndoMediumRegular.woff")
      format("woff"),
    url("/fonts/OndoFontCompressed/FONTSPRINGDEMO-OndoMediumRegular.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  color: #fff;
  background: linear-gradient(90deg, #350b5c 5%, #2d1e6b 100%);
  background-size: 100% 100%;
}

#board {
  font-family: "FONTSPRING DEMO - Ondo", "Lato";
  font-size: 30.767px;
  font-style: normal;
  font-weight: 800;
  line-height: 110.6%; /* 34.028px */
  letter-spacing: 1.231px;
}
.mobile-menu {
  float: right;
  margin-top: -30px;
  position: absolute;
  right: 0;
}
.left-div {
  margin-left: 70px;
  margin-top: 100px;
}

#header {
  color: #fff;
  font-family: "FONTSPRING DEMO - Ondo", "Lato";
  font-size: 68.937px;
  font-style: normal;
  font-weight: 800;
  line-height: 110.6%; /* 76.245px */
  letter-spacing: 2.757px;
  text-transform: uppercase;
}
#explore {
  background: linear-gradient(to right, #2d1e6b, #dd00b8);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.p1 {
  color: #fff;
  font-family: "Lato", "FONTSPRING DEMO - Ondo";
  font-size: 18.715px;
  font-style: normal;
  font-weight: 400;
  line-height: 185.1%; /* 34.642px */
  letter-spacing: 0.749px;
}
.z-100 {
  position: absolute;
}
.z-10 {
  font-family: "FONTSPRING DEMO - Ondo", "Lato";
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 110.6%; /* 22.12px */
  letter-spacing: 0.8px;
  text-transform: uppercase;
  background: linear-gradient(to right, #2d1e6b, #dd00b8);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.bt1 {
  width: 200px;
  height: 74px;
  flex-shrink: 0;
}
.stats {
  display: flex;
  margin-top: 50px;
}

.stats div {
  text-align: center;
  margin-right: 50px;
}
.line {
  margin-top: 100px;
  width: 100%;
  height: 50px;
  transform: rotate(-1.983deg);
  flex-shrink: 0;
  border: 1px solid #000;
  background: url("/images/rect3.png"), lightgray 0% 0% / 100px 100px repeat,
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.08) 0%,
      rgba(217, 217, 217, 0.04) 100%
    );
  box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0);
  backdrop-filter: blur(25px);
}

#sta1 {
  padding-top: 5px;
  color: #fff;
  font-family: "FONTSPRING DEMO - Ondo", "Lato";
  font-size: 29px;
  font-style: normal;
  font-weight: 400;
  line-height: 110.6%; /* 33.18px */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.gameCarousel {
  background: #2d1e6b;
}
.heading {
  margin-top: 100px;
  color: #fff;
  text-align: center;
  font-family: "FONTSPRING DEMO - Ondo", "Lato";
  font-size: 66px;
  font-style: normal;
  font-weight: 800;
  line-height: 116.6%; /* 76.956px */
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
#favorite {
  background: linear-gradient(
    90deg,
    #6542f4 15.99%,
    #f976ff 30.01%,
    #b50098 45.36%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "FONTSPRING DEMO - Ondo", "Lato";
  font-size: 66px;
  font-style: normal;
  font-weight: 800;
  line-height: 116.6%;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.preview {
  color: #fff;
  text-align: center;
  font-family: "Lato" "FONTSPRING DEMO - Ondo";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 20px;
  line-height: 185.1%; /* 29.616px */
  letter-spacing: 0.64px;
}
#sta2 {
  color: #fff;
  font-family: "FONTSPRING DEMO - Ondo", "Lato";
  font-size: 14.595px;
  font-style: normal;
  font-weight: 400;
  line-height: 110.6%;
  letter-spacing: 0.664px;
  text-transform: uppercase;
}

.pictures {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.image-container1 {
  width: 30%;
  height: 366.969px;
  flex-shrink: 0;
}
.image-container {
  width: 38%;
  height: 407.931px;
  flex-shrink: 0;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.game-buttons {
  display: flex;
  justify-content: center;
}
@media (max-width: 800px) {
  .left-div {
    margin-left: 5px;
    margin-top: 5px;
  }
}
