.game-grid h2 {
  color: #fff;
  text-align: center;
  font-family: "FONTSPRING DEMO - Ondo", "Lato";
  font-size: 66px;
  font-style: normal;
  font-weight: 800;
  line-height: 116.6%; /* 76.956px */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  padding-top: 20px;
}
#games {
  background: linear-gradient(to right, #2d1e6b, #dd00b8);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: "FONTSPRING DEMO - Ondo", "Lato";
  font-size: 66px;
  font-style: normal;
  font-weight: 800;
  line-height: 116.6%;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
.options {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#square {
  margin-left: 80px;
  margin-top: 50px;
}
.squarebox {
  width: 650px;
  height: 537px;
  flex-shrink: 0;
  margin-left: 20px;
}

.squarebox__box {
  padding-right: 30px;
  width: 350px;
  height: 537px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #000;
  background: url("/images/re.png");
  box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0);
  margin-bottom: 50px;
}
.squarebox__box:hover {
  border: 2px solid #65249b;
}
.squarebox__box__content {
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.character:hover {
  border: 2px solid #65249b;
  border-radius: 10px;
}
.profile__pic:hover {
  border: 2px solid #65249b;
  border-radius: 50%;
}
.squarebox__box__content h3 {
  padding-top: 30px;
}
.box__profile {
  display: flex;
  padding-top: 20px;
}

.profile__info {
  margin-left: 10px;
  padding-top: 20px;
}

.profile__info p {
  color: #fff;
  font-family: "Lato", "FONTSPRING DEMO - Ondo";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 110.6%; /* 11.06px */
  letter-spacing: 0.35px;
  text-transform: capitalize;
}
.live-btn {
  padding-top: 30px;
}
@media (max-width: 800px) {
  #square {
    margin-left: 50px;
    margin-top: 50px;
  }
}
