#board {
  font-family: "FONTSPRING DEMO - Ondo", "Lato";
  font-size: 30.767px;
  font-style: normal;
  font-weight: 800;
  line-height: 110.6%; /* 34.028px */
  letter-spacing: 1.231px;
}
.mobile-menu {
  float: right;
  margin-top: -30px;
  position: absolute;
  right: 0;
}
